<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeV9vdJt6XbCfg1IJ07gerZSVqU7SbdTU</string>
	<key>GCM_SENDER_ID</key>
	<string>328746394167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eduardocomparin.chatFirebase.chatFlutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>chat-bb7d0</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-bb7d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328746394167:ios:0823d01306b529046615b2</string>
</dict>
</plist>